@model CoreCms.SampleSite.Controllers.ArticlePageViewModel
@using CoreCms.Cms.Core.HtmlExtensions
@using CoreCms.SampleSite.Pages
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Article</h1> 
<h2><cms-content content="@Model.ArticlePage.Title"></cms-content></h2>
<h3>Child pages</h3>
@foreach (var child in Model.ChildPages)
{
    <div>
    <a cms-content-href="@child">@child.Name</a>
    </div>
}
<a cms-content-href="@Model.ArticlePage.Other">Other page</a>
<cms-content content="@Model.ArticlePage.Image1"></cms-content>